<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069065982306-9c4rb7psl3st66tl01q2jrn8iogo1cub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069065982306-9c4rb7psl3st66tl01q2jrn8iogo1cub</string>
	<key>API_KEY</key>
	<string>AIzaSyD9FBJ95VfJaK_vFl-bBgePSkULNI5fIsc</string>
	<key>GCM_SENDER_ID</key>
	<string>1069065982306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPosRevised.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>m1-point-of-sale</string>
	<key>STORAGE_BUCKET</key>
	<string>m1-point-of-sale.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069065982306:ios:023e2a8adcbebd17fedc3b</string>
</dict>
</plist>